[submodule "sources_non_forked/YouCompleteMe"]
	path = sources_non_forked/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "sources_non_forked/SimpylFold"]
	path = sources_non_forked/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
